<div class="row">
    <div class="text-info">
        <h1 class="text-info"> Cette page n'est pas disponible </h1>
    </div>
 
    <hr />
    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Acteurs" style="width:200px;" > Back to home</a>
</div>