@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span class="text-primary">BKDCinema</span></h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>
        <a class="btn btn-primary m-5 fw-bold fs-5 " asp-action="Index" asp-controller="Film">Get Started</a>
    </p>
</div>
